html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6.5rem;
  min-height: 100%;
  font: 400 $font-size $font-stack;
}

.tm-app {

    .tm-nav {
        background: $light-blue;
        color: $white;
        box-shadow: 0 0 0.25rem $box-shadow-first-color,0 0.25rem 0.5rem $box-shadow-second-color; 
        -webkit-box-shadow: 0 0 0.25rem $box-shadow-first-color,0 0.25rem 0.5rem $box-shadow-second-color; 
        -moz-box-shadow: 0 0 0.25rem $box-shadow-first-color,0 0.25rem 0.5rem $box-shadow-second-color;
        border-radius: 0;
        padding: 0.8rem 0.3rem;


        h2 {

            display: inline-block;
            margin: 0;
            position: relative;


            a.navbar-brand {
                color: $white;
                font-size: 1.55rem;
                position: relative;

                &:hover {
                    font-weight: 600;
                    cursor: pointer;
                }
            }

            img {
                float: left;
                position: relative;
                padding-right: 0.6rem;
                width: 3.6rem;
                height: 3.0rem;
            }
        }
    }

    .container {

        .tm-content-wrapper {
            margin: 0 auto;
            min-height: 100%;
            padding: 2rem 0rem;
            font-weight: 400;
            font-size: 2rem;
            position: relative;

            .dropdown-controls {
                
                .dropdown {

                    .btn {
                        padding: 0.5rem 1.3rem;
                    }

                    .btn-secondary {
                        background: $light-blue;
                        color: $white;
                    }

                    .dropdown-menu {
                        overflow: auto;
                        max-height: 12.5rem;

                        .dropdown-item {
                            &:hover {
                                cursor: pointer;
                                background: $light-blue;
                                color: $white;
                            }
                        }
                    }

                }
            }

            .selection-summary {
                padding-top: 3rem;
                font-size: 1.3rem;

                h4 {
                    margin-bottom: 2rem;
                }

                .no-selection {
                    font-style: italic;
                    color: $lightest-gray;
                }

                .card {
                    width: 302px;

                    blockquote {
                        color: $black;
                    }

                    .card-text {
                        text-align: center;
                    }

                    .brand-image {
                        width: 300px;
                        height: 200px;
                        display: inline-block;
                    }
                }

                .card-primary {
                    border-color: $light-gray;
                }

                .card-inverse {
                    width: 50%;
                    height: 7rem;
                }
            }
        }
    }

    .tm-footer {
        text-align: center;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 2rem;
        background: $light-gray;
        bottom: 0;
        box-shadow: 0 0 1.5rem 0 $light-gray;
        border-top: 0.1rem solid $lighter-gray;
    }
}

