/** scss custom variables **/

$font-stack: Roboto, sans-serif;
$font-size: 18px;
$light-blue: #2196F3;
$white: white;
$black: black;
$light-gray: #eee;
$lighter-gray: #e0e0e0;
$lightest-gray: #ececec;
$box-shadow-first-color: rgba(0,0,0,.14);
$box-shadow-second-color: rgba(0,0,0,.28);


